{% extends "base.html.twig" %}

{% block title %}
    {{ destination.name }}
{% endblock %}

{% block headingTitle %}{{ destination.name }}{% endblock %}

{% block content %}
    <section id="destination-page" class="mea-blog-post-page section-padding">
        <div class="container">
            <div class="row">
                <div class="single-blog-page col-md-8">
                    <article class="single-post">
                        <h2>Trinidad, joya colonial del Caribe</h2>
                        <strong>Lorem</strong> ipsum dolor sit amet, consectetur adipisicing elit. Harum minima, earum optio quia recusandae ipsam, obcaecati! Sunt ullam nisi, ratione quisquam provident eius quae facilis eos, deserunt consequatur, officiis quos.

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis illum possimus et ducimus quia sed dolorum id cumque rerum, fuga voluptatem, fugiat quidem mollitia eos vel, nisi voluptatum corrupti eaque voluptas! Praesentium hic pariatur est voluptatibus suscipit vel tempora necessitatibus animi ratione tempore natus modi, odit, explicabo nulla laudantium veritatis dignissimos? Odit sequi, ipsam quod eligendi tempore obcaecati reprehenderit, dicta repudiandae officiis voluptatibus odio cupiditate, tempora repellat ut. Possimus odit veritatis fugiat dolorem accusamus, facilis excepturi.

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus magni ad sapiente optio illo iste quidem quod voluptatibus, eligendi aliquid?
                    </article>
                </div>
            </div>
        </div>
    </section><!--/#destination-page-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include 'hostel/slider.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 4,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerGroup: 2,
        spaceBetween: 10
//        freeMode: true
    });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .page-title-section {
            position: relative;
            background: url(/images/trinidad.jpg) no-repeat scroll center center;
            background-size: cover;
        }
    </style>
{% endblock %}