{% extends "base.html.twig" %}
{% block heading %}
    <section class="page-title-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% block headingTitles %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h1>{% block headingTitle %}{% endblock %} <small>{% block headingSubtitle %}{% endblock %}</small></h1>
                        {#<h2></h2>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
{% endblock %}