{% extends "base.html.twig" %}
{% block heading %}
    <section class="page-title-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-center">
                        {#<div class="title-middle">#}
                            {#<h2 class="page-tagline">{% block headingSubtitle %}{% endblock %}</h2>#}
                            {#<h1 class="page-title">{% block headingTitle %}{% endblock %}</h1>#}
                        {#</div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}