label.required:before {
  content: "* ";
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-hostel-registration {
  max-width: 500px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
/* sidebar */
/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 60px tall */
body {
  padding-top: 60px;
}
/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
/*
 * Main content
 */
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.portfolio-items,
.portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 -20px 20px 0;
}
.portfolio-filter > li {
  display: inline-block;
}
.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio-items.cols-xs-1 > li {
  width: 100%;
}
.portfolio-items.cols-xs-2 > li {
  width: 50%;
}
.portfolio-items.cols-xs-3 > li {
  width: 33%;
}
.portfolio-items.cols-xs-4 > li {
  width: 25%;
}

/*@media (min-width: 768px) {*/
@media (min-width: 480px) {
  .portfolio-items.cols-sm-1 > li {
    width: 100%;
  }
  .portfolio-items.cols-sm-2 > li {
    width: 50%;
  }
  .portfolio-items.cols-sm-3 > li {
    width: 33%;
  }
  .portfolio-items.cols-sm-4 > li {
    width: 25%;
  }
}

@media (min-width: 992px) {
    .portfolio-items.cols-md-1 > li {
        width: 100%;
    }
    .portfolio-items.cols-md-2 > li {
        width: 50%;
    }
    .portfolio-items.cols-md-3 > li {
        width: 33%;
    }
    .portfolio-items.cols-md-4 > li {
        width: 25%;
    }
}

@media (min-width: 1200px) {
    .portfolio-items.cols-lg-1 > li {
        width: 100%;
    }
    .portfolio-items.cols-lg-2 > li {
        width: 50%;
    }
    .portfolio-items.cols-lg-3 > li {
        width: 33%;
    }
    .portfolio-items.cols-lg-4 > li {
        width: 25%;
    }
}

/*.portfolio-items.col-2 > li {*/
  /*width: 50%;*/
/*}*/
/*.portfolio-items.col-3 > li {*/
  /*width: 33%;*/
/*}*/
/*.portfolio-items.col-4 > li {*/
  /*width: 25%;*/
/*}*/
/*.portfolio-items.col-5 > li {*/
  /*width: 20%;*/
/*}*/
/*.portfolio-items.col-6 > li {*/
  /*width: 16%;*/
/*}*/
.portfolio-item {
  padding: 0;
  margin: 0;
}
.portfolio-item .item-inner {
  background: #fff;
  border: 1px solid #eee;
  padding: 10px 10px 0;
  margin: 0 20px 20px 0;
  position: relative;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item h5 {
  background: #fff;
  margin: 0;
  padding: 10px 0;
  font-weight: 700;
  font-size: 14px;
  color: #2c3e50;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
}

/* Material Design */
* {
  box-sizing: border-box;
}

.header-panel {
  background-color: #009587;
  height: 144px;
  position: relative;
  z-index: 3;
}

.header-panel div {
  position: relative;
  height: 100%;
}

.header-panel h1 {
  color: #FFF;
  /*font-size: 20px;*/
  /*font-weight: 400;*/
  position: absolute;
  bottom: 10px;
  padding-left: 35px;
}

.menu {
  overflow: auto;
  padding: 0;
}

.menu, .menu * {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.menu ul {
  padding: 0;
  margin: 7px 0;
}

.menu ul li {
  list-style: none;
  padding: 20px 0 20px 50px;
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
}

.menu ul li.active {
  background-color: #dedede;
  position: relative;
}

.menu ul li a {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.pages {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  padding: 0;
  overflow: auto;
}

.pages > div {
  padding: 0 5px;
  padding-top: 64px;
}

.page .header {
  color: rgb(82, 101, 162);
  /*font-size: 24px;*/
  /*font-weight: normal;*/
  /*margin-top: 5px;*/
  /*margin-bottom: 60px;*/
  /*letter-spacing: 1.20000004768372px;*/
}

.page {
  transform: translateY(1080px);
  transition: transform 0 linear;
  display: none;
  opacity: 0;
  font-size: 16px;
}

.page.active {
  transform: translateY(0px);
  transition: all 0.3s ease-out;
  display: block;
  opacity: 1;
}

.opensource {
  color: rgba(0, 0, 0, 0.62);
  position: fixed;
  margin-top: 50px;
  margin-left: 50px;
  z-index: 100;
}

#source-modal h4 {
  color: black;
}

#paypal .btn {
  padding: 5px 30px 6px 30px;
}

#paypal input {
  background: transparent;
  border: 0;
}

.cbwrapper div {
  display: none;
}

.cbwrapper div:nth-child(2) {
  display: block;
}

#carbonads, #fakecb {
  border: 1px solid #d5d5d5;
  font-size: 11px;
  line-height: 15px;
  overflow: hidden;
  width: 340px;
  padding: 20px;
  margin: auto;
  height: 142px;
  border-radius: 2px;
}

#carbonads .carbon-img {
  float: left;
  display: block;
}

#carbonads .carbon-text, #carbonads .carbon-poweredby {
  float: left;
  width: 150px;
  padding: 0 10px 10px 10px;
}

#carbonads .carbon-text:hover, #carbonads .carbon-poweredby:hover {
  text-decoration: none;
}

#carbonads .carbon-poweredby {
  color: #9D9D9D;
}

/*#checkbox .sample1 label {*/
/*font-weight: bold;*/
/*}*/

/*#checkbox .hint {*/
/*padding-left: 45px;*/
/*padding-top: 20px;*/
/*font-weight: 400;*/
/*}*/

/*#checkbox .sample1 {*/
/*padding-bottom: 20px;*/
/*}*/

/*#checkbox h2 {*/
/*font-size: 18.7199993133545px;*/
/*font-weight: bold;*/
/*margin-bottom: 30px;*/
/*}*/

/*#checkbox .sample2 {*/
/*width: 300px;*/
/*clear: both;*/
/*font-weight: 400;*/
/*}*/

/*#checkbox .sample2 {*/
/*padding: 10px 0;*/
/*}*/

/*#checkbox .sample2 .text {*/
/*display: inline-block;*/
/*}*/

/*#checkbox .sample2 .checkbox {*/
/*float: right;*/
/*margin: 0;*/
/*}*/

/*#progress-bar h2 {*/
/*font-size: 18.7199993133545px;*/
/*font-weight: bold;*/
/*margin-bottom: 30px;*/
/*}*/

/*#dialog h2 {*/
/*padding: 14px;*/
/*margin: 0;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

/*#shadow h2 {*/
/*padding: 14px;*/
/*margin: 0;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

#shadow .sample {
  width: 100px;
  height: 100px;
  margin: 16px;
  padding: 16px;
  display: inline-block;
}

#shadow-sample2 {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 16px;
  padding: 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

}

#shadow-sample3 {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 16px;
  padding: 16px;
  border-radius: 100px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/*#radio-button h2 {*/
/*font-size: 18.7199993133545px;*/
/*font-weight: bold;*/
/*margin-bottom: 30px;*/
/*margin-top: 50px;*/
/*}*/

/*#radio-button .radio {*/
/*margin: 20px 10px;*/
/*}*/

/*#input h2 {*/
/*padding: 14px;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

#input .inputs {
  width: 80%;
}

/*#input .form-group {*/
/*margin: 30px 0;*/
/*}*/

/*#slider .sample1, #slider .sample2 {*/
/*padding: 20px 0;*/
/*background-color: #f0f0f0;*/
/*margin-bottom: 20px;*/
/*}*/

#slider .sample2 {
  height: 150px;
}

/*#slider .sample2 .slider {*/
/*margin: 0 40px;*/
/*}*/

/*#slider h2 {*/
/*padding: 14px;*/
/*margin: 0;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

/*#slider .slider {*/
/*margin: 15px;*/
/*}*/

/*#button h2 {*/
/*padding: 14px;*/
/*margin: 0;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

/*#floating-action-button .btn {*/
/*margin: 20px;*/
/*}*/

/*#floating-action-button h2 {*/
/*padding: 14px;*/
/*margin: 0;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

/*#dropdown h2 {*/
/*padding: 14px;*/
/*margin: 0;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

/*#dropdown .dropdown {*/
/*font-size: 30px;*/
/*padding: 20px;*/
/*}*/

/*#dropdown-menu h2 {*/
/*padding: 14px;*/
/*margin: 0;*/
/*font-size: 16px;*/
/*font-weight: 400;*/
/*}*/

/*#dropdown-menu .sample {*/
/*width: 200px;*/
/*}*/

/*#dropdown-menu .form-group {*/
/*margin: 30px 0;*/
/*}*/

/*#toggle-button h2 {*/
/*font-size: 18.7199993133545px;*/
/*font-weight: bold;*/
/*margin-bottom: 30px;*/
/*margin-top: 50px;*/
/*}*/

/*#toggle-button .togglebutton label {*/
/*margin: 20px 10px;*/
/*width: 200px;*/
/*}*/

/*#toggle-button .togglebutton .toggle {*/
/*float: right;*/
/*}*/

