{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <li><a href="{{ path('homepage') }}">{% trans %}menu.homepage{% endtrans %}</a></li>
    <li class="active">{% block path %}{% endblock %}</li>
{% endblock %}
{% block content %}
	{% block fos_user_body %}
        <div class="row">
            <div class="col-xs-12">
    			{% block fos_user_content %}{% endblock %}
            </div>
      	</div>
    {% endblock %}
{% endblock %}