<section id="hostels" class="section-padding section-dark">
    <div class="container">
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-6 mea-title-section">
                <h1 class="section-titile-bg">{{ 'top_houses.title'|trans }}</h1>
                <h1 class="section-title">{{ 'top_houses.title'|trans }}</h1>
            </div>
            <!-- Section Quote -->
            <div class="col-md-6 mea-section-quote">
                <blockquote>
                    <p>{{ 'top_houses.description'|trans }}</p>
                </blockquote>
            </div>
        </div>
        <div class="row mt-100">
            <div class="col-md-12">
                {% include 'hostel/slider.html.twig' %}
            </div>
        </div>
    </div>
</section>