<!-- Main Slide Section -->
<section id="main-slide-section">
    <div id="main-slide" class="carousel slide carousel-fade" data-ride="carousel">

        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" src="{{ asset('images/slider-bg4.jpg') }}" alt="slider">
                <div class="slider-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-left">
                                <h1 class="slideInLeft animated wow hero-heading animated" data-wow-delay=".6s" style="visibility: visible;-webkit-animation-delay: .6s; -moz-animation-delay: .6s; animation-delay: .6s;">Create Amazing Web<br>Experiences</h1>
                                <h5 class="fadeInDown wow animated hero-sub-heading animated" data-wow-delay=".8s" style="visibility: visible;-webkit-animation-delay: .8s; -moz-animation-delay: .8s; animation-delay: .8s;">Great choice for your next webdesign project</h5>
                                <a href="javascript:void(0)" class="animated fadeInUp wow btn btn-common animated" data-wow-delay=".9s" style="visibility: visible;-webkit-animation-delay: .9s; -moz-animation-delay: .9s; animation-delay: .9s;"><i class="material-icons"></i> Explore<div class="ripple-container"></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="{{ asset('images/slider-bg2.jpg') }}" alt="slider">
                <div class="slider-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h1 class="animated wow fadeIn hero-heading animated" data-wow-delay=".7s" style="visibility: visible;-webkit-animation-delay: .7s; -moz-animation-delay: .7s; animation-delay: .7s;">Material Design Inspired</h1>
                                <h5 class="animated5 hero-sub-heading">Refreshing Design - Built-with Latest Bootstrap &amp; HTML5</h5>
                                <a href="javascript:void(0)" class="animated6 btn btn-lg btn-common"><i class="material-icons"></i> Purchase</a>
                                <a href="javascript:void(0)" class="animated6 btn btn-lg btn-raised btn-default"><i class="material-icons"></i> Learn More<div class="ripple-container"></div></a><div class="ripple-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="{{ asset('images/slider-bg3.jpg') }}" alt="slider">
                <div class="slider-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h1 class="animated wow bounceInUp hero-heading animated" data-wow-delay=".6s" style="visibility: visible;-webkit-animation-delay: .6s; -moz-animation-delay: .6s; animation-delay: .6s;">Cutting Edge Features</h1>
                                <h5 class="animated4 hero-sub-heading">Material Design - Bootstrap - HTML5 - CSS3 - Responsive </h5>
                                <a href="javascript:void(0)" class="animated4 btn btn-common"><i class="material-icons"></i> Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#main-slide" data-slide="prev">
            <span><i class="fa fa-angle-left" data-ripple-color="#F0F0F0"><div class="ripple-container"></div></i></span>
        </a>
        <a class="right carousel-control" href="#main-slide" data-slide="next">
            <span><i class="fa fa-angle-right" data-ripple-color="#F0F0F0"><div class="ripple-container"></div></i></span>
        </a>
    </div>
</section>
<!-- Main Slide Section End-->