{% extends "base_bare.html.twig" %}

{% block title %}
    {% trans %}title.contact{% endtrans %}
{% endblock %}

{% block content %}
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-2 sidebar">
                {% set menu = knp_menu_get('AppBundle:HostelMenuBuilder:mainMenu', [], {
                'hostel': hostel
                }) %}
                {{ knp_menu_render(menu, {
                    'currentClass': 'active',
                    'menu_template': 'SonataBlockBundle:Block:block_side_menu_template.html.twig',
                }) }}
            </div>

            <div class="col-md-10 main">
                <ul>
                    {% for room in rooms %}
                        <li>
                            <a href="{{ path('room_edit', {'id': room.id}) }}">{{ room.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <p>
                    <button class="btn btn-common"><i class="material-icons">add</i> New room</button>
                </p>
            </div>
        </div>
    </section>
{% endblock %}