{% extends "base_bare.html.twig" %}

{% block title %}
    {% trans %}title.contact{% endtrans %}
{% endblock %}

{% block headingTitle %}{% trans %}hostel.edit.title{% endtrans %}{% endblock %}
{% block hedingSubtitle %}{% trans %}hostel.edit.subtitle{% endtrans %}{% endblock %}

{% set hostel = form.vars.value %}

{% block content %}
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-2 sidebar">
                {% set menu = knp_menu_get('AppBundle:HostelMenuBuilder:mainMenu', [], {
                'hostel': hostel
                }) %}
                {{ knp_menu_render(menu, {
                    'currentClass': 'active',
                    'menu_template': 'SonataBlockBundle:Block:block_side_menu_template.html.twig',
                }) }}
            </div>

            <div class="col-md-9 main">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="form-group">
                    <button type="submit" class="btn btn-common btn-lg">{% trans %}button.update{% endtrans %}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}