{% extends "base_bare.html.twig" %}

{% block title %}
    {% trans %}hostels.title{% endtrans %}
{% endblock %}

{% block content %}
    {{ include('home/search.html.twig') }}
    <section id="hostel-gallery">
        <div class="container" id="hostel-gallery-container">
            {{ include('hostel/gallery_content.html.twig') }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        // constructs the suggestion engine
        var states = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: '/api/en/searches.json'
        });

        $('#bloodhound .typeahead').typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 1
                },
                {
                    name: 'states',
                    source: states
                });
    </script>
    <script>
        var form = $('#search-form');
        form.submit(function () {
            var $query = $('#search-box').val();
            performSearch($query);
            return false;
        });

        $('.typeahead').bind('typeahead:select', function(ev, suggestion) {
            performSearch(suggestion);
        });

        function performSearch($query) {
            $('#loader').fadeIn();
            $.get(Routing.generate('hostel_search', { query: $query, _locale: '{{ app.request.locale }}' }), $(this).serialize(), function(data) {
                $('#hostel-gallery-container').html(data);
                $('#loader').fadeOut();
            });
        }
    </script>
{% endblock %}